body {
    background-color: rgb(8, 36, 68);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #1d3557;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    padding-right: 100px;
}

fieldset {
    justify-content: baseline;
    padding: 5px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

#informations {
    border: black 2px solid;
}

legend {
    text-decoration: underline;
}

main h2 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: white;
}

label {
    font-size: 30px;
}

#negrito {
    font-weight: bold;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="number"], textarea {
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #a8dadc;
    box-shadow: 0 5px 6px -2px gray;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5); /* Aumenta o tamanho dos checkboxes e radios */
}

input[type="radio"]{
    vertical-align: middle;
}

.radio-group {
    margin-bottom: 20px;
    font-size: 30px;
    align-items: center;
}

.radio-group label{
    vertical-align: middle;
    margin-right: 10px;
}

.checkbox-group {
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre os elementos */
}

textarea {
    height: 150px;
}

input[type="submit"], input[type="reset"] {
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgb(8, 36, 68);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 45%;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: white;
    color: rgb(8, 36, 68);
    border: 2px solid rgb(8, 36, 68);
}

legend {
    font-size: 30px;
}

#informations {
    border-color: rgb(8, 36, 68);
    border-radius: 20px;
}

.div_buttons{
    width: 100%;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    footer iframe {
        width: 100%; /* Torna o iframe responsivo */
        max-width: 560px; /* Limita a largura máxima */
        height: auto; /* Mantém a proporção */
        margin: 20px auto; /* Centraliza o iframe */
        padding-left: 10px;
    }
    
}
