body {
    background-color: rgb(8, 36, 68);
    font-family: 'Arial', sans-serif;
}

nav {
    padding-right: 100px;
}

main h2 {
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 40px;
}

/* Grid de produtos - garantindo 3 colunas no desktop */
.produto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.pizza-card {
    background-color: white;
    padding: 20px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinha o conteúdo do card */
    gap: 10px;
}

.pizza-card img {
    width: 100%;              /* Garante que a imagem ocupe toda a largura disponível */
    height: auto;             /* Mantém a proporção da imagem */
    border-radius: 8px;       /* Arredonda as bordas da imagem */
    max-height: 250px;        /* Define uma altura máxima para a imagem, ajustável conforme necessário */
    object-fit: contain;        /* Garante que a imagem cubra toda a área sem distorcer a proporção */
}

.pizza-card .card-body {
    padding-top: 15px;
}

.pizza-card .card-title {
    font-size: 22px;
    font-weight: bold;
    color: #1d3557;
}

.pizza-card .card-text {
    font-size: 18px;
    color: #666;
}

/* Botão de adicionar ao carrinho */
.pizza-card .btn {
    background-color: #e63946;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    align-self: center; /* Garante que o botão fique centralizado */
}

/* Efeito de hover no botão */
.pizza-card .btn:hover {
    background-color: #d62828;
}

footer {
    background-color: #1d3557;
    color: white;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer a:hover {
    color: #FFE882;
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
    main h2 {
        font-size: 50px;
    }

    .produto-grid {
        grid-template-columns: 1fr; 
    }

    .pizza-card {
        width: 90%;
        margin: 10px auto;
    }

    .pizza-card img {
        max-width: 100%;
        height: auto;
    }

    .pizza-card .btn {
        padding: 10px 15px;
    }
}
